
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

container{
  width: 100%;
  height: 100%;

}

.wrapper {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

hr {
  background-color: black;
  color: chartreuse;
}

.top-wrapper {
  text-align: center;
}

.mobile-top {
  background-color: black;
  height: 20px;
}

.mobile-bottom {
  background-color: black;
  height: 20px;
}

#navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 30px;
  z-index: 1;
  border-bottom: 2px solid black;
}

#title-wrapper {
  position: relative;
  text-align: center;
  height: 50vh;
  height: 72vh;
  width: 100vw;
  background-image: ;
  background: black;
}

#computer{
  position: absolute;
  left: -110px;
  margin-top: 0px;
  width: 100vw;
}

#comp-screen{
  position: absolute;
  top: 80px;
}

#title-row1 {
  padding-top: 50px;
  text-align: center;
  color: chartreuse;
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  font-size: xx-small;


}

#title-row2 {
  padding-top: 20px;
  text-align: center;
  color: chartreuse;
  font-family: 'CustomFont', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  font-size: xx-small;
}

#title-row3 {
  text-align: center;
  color: chartreuse;
  font-family: 'CustomFont', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  font-size: xx-small;
}

.footer-wrapper {
  text-align: center;
  background-color: black;
}

/* #footer-hr{
    color: chartreuse;
} */

#footer-msg {
  background-color: black;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: chartreuse;
  font-size: 1.5vw;
  text-align: center;
  align-items: center;


}

/* Typewriter Effect */
#var-highlight{
    color: chartreuse;
    min-width: 50vw;
    max-width: 80vw;
    font-size: 4.5vw;
    text-align: center;
    align-items: center;
}

#string-highlight{
    color: chartreuse;
    min-width: 50vw;
    max-width: 80vw;;
    font-size: 4.5vw;
    text-align: center;
    align-items: center;
}

@media screen and (min-height: 1406) and (min-width: 0px) and (max-width: 700px) {
    #string-highlight-mobile {    
        display: block;
        color: chartreuse;
        min-width: 50vw;
        max-width: 80vw;;
        font-size: 4.5vw;
        text-align: center;
        align-items: center;
    }
    #string-highlight-desktop {    
        display: none;
        color: chartreuse;
        min-width: 50vw;
        max-width: 80vw;;
        font-size: 2.5vw;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-height: 1405) and (min-width: 701px) and (max-width: 3000px) {
    #string-highlight-mobile {    display: none;  }
    #string-highlight-desktop {    display: block;  }
}
  
#typewriter{
    font-size: 1em;
    margin: 0;
    font-family: "Press Start 2P";

        /* &:after{
            content: "|";
            animation: blink 500ms linear infinite alternate;
        } */
}
  
@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
  
@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
  
@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#brief-history{
  color: black;
  font-family: fantasy;

}

#long-history{
  color: black;
  padding: 40px 15px 0px 15px;
}

#long-history-text{
  font-family: fantasy;
}

.hobbies{
  padding-top: 140px;
  padding-left: 40px;
  color:black;
  font-weight: bold;
  height: 100%;
  background-image: url("Steampunk_images/shutterstock_131942996.jpeg");
}

#hobbies{
  color: black;
  font-weight: bold;
}

#photos{
  color: white;
}

.contact-wrapper{
  background-color: white;
}

#contact{
  color: black;
  background-color: white;
}

#projects{
  color: white;
}

#projects-row{
  padding-top: 40px;;
  background-image: url("Steampunk_images/AdobeStock_6645031.jpeg");
}

#title
#brief-history{
  color: black;
  background-image: url("Steampunk_images/verticalPaper.jpeg");
  height:  100%;
}

#long-history{
  color: black;
  background-image: url("Steampunk_images/verticalPaper.jpeg");
  height: 100%;
}

/* .hobbies{
  color: black;
  background-image: url("Steampunk_images/shutterstock_1852804258.jpeg");
  height: 100%;

} */

.photos{
  color: white;
  background-image: url("Steampunk_images/shutterstock_1637325505.jpeg");
  height: 100%;

}


.contact{
  color: black;
  background-color: white;
  background-image: url("Steampunk_images/shutterstock_1196700412.jpeg");
  height: 100%;

}

.projects{
  color: black;
  background-image: url("Steampunk_images/shutterstock_452363785.jpeg");
  height: 100%;

}


/* Thumbnails */
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

.img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}