
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

container{
  width: 100%;
  height: 100%;

}

.wrapper {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

hr {
  background-color: black;
  color: chartreuse;
}

.top-wrapper {
  text-align: center;
}

.mobile-top {
  background-color: black;
  height: 20px;
}

.mobile-bottom {
  background-color: black;
  height: 20px;
}

#navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 30px;
  z-index: 1;
  border-bottom: 2px solid black;
}

#title-wrapper {
  position: relative;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: contain;
  background: black;
  background-image: url("Assets/Steampunk_images/shutterstock_1852804258.jpeg");
  background-image: url("Assets/Steampunk_images/shutterstock_1852804258.jpeg");
}

#computer{
  position: relative;
  text-align: center;
  width: auto;
  height: 100%;
}

#comp-screen{
  position: absolute;
  top: 80px;
}

#title-row1 {
  padding-top: 50px;
  text-align: center;
  color: chartreuse;
  font-family: 'Press Start 2P', cursive;
  font-family: 'VT323';
  font-weight: lighter;
  font-size: xx-small;
  width: 10px;
          
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */

}

#title-row2 {
  padding-top: 20px;
  text-align: center;
  color: chartreuse;
  font-family: 'CustomFont', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-family: 'Press Start 2P', cursive;
  font-family: 'VT323';
  font-weight: lighter;
  font-size: xx-small;
          
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */

}

#title-row3 {
  text-align: center;
  color: chartreuse;
  font-family: 'CustomFont', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-family: 'Press Start 2P', cursive;
  font-family: 'VT323';
  font-weight: lighter;
  font-size: xx-small;
          
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */

}

/* Typewriter Effect */
#var-highlight{
    color: chartreuse;
    min-width: 50vw;
    max-width: 80vw;
    font-size: 4.5vw;
    text-align: center;
    align-items: center;
            
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em; /* a */
    max-height: 2em; /* a x number of line to show (ex : 2 line)  */

}

#string-highlight{
    color: chartreuse;
    min-width: 50vw;
    max-width: 80vw;;
    font-size: 4.5vw;
    text-align: center;
    align-items: center;
            
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em; /* a */
    max-height: 2em; /* a x number of line to show (ex : 2 line)  */

}

@media screen and (min-height: 1406) and (min-width: 0px) and (max-width: 700px) {
    #string-highlight-mobile {    
        display: block;
        color: chartreuse;
        min-width: 50vw;
        max-width: 80vw;;
        font-size: 4.5vw;
        text-align: center;
        align-items: center;

        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: block;
        line-height: 1em; /* a */
        max-height: 2em; /* a x number of line to show (ex : 2 line)  */
    }
    #string-highlight-desktop {    
        display: none;
        color: chartreuse;
        min-width: 50vw;
        max-width: 80vw;;
        font-size: 2.5vw;
        text-align: center;
        align-items: center;
                
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: block;
        line-height: 1em; /* a */
        max-height: 2em; /* a x number of line to show (ex : 2 line)  */

    }
}

@media screen and (max-height: 1405) and (min-width: 701px) and (max-width: 3000px) {
    #string-highlight-mobile {    display: none;  }
    #string-highlight-desktop {    display: block;  }
}
  
#typewriter{
    font-size: 1em;
    margin: 0;
    font-family: "Press Start 2P";

        /* &:after{
            content: "|";
            animation: blink 500ms linear infinite alternate;
        } */
}
  
@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
  
@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
  
@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#brief-history{
  color: black;
  background-size: cover;
  background-image: url("Assets/Steampunk_images/verticalPaper.jpeg");
  height: 100%;
  padding: 40px 15px 0px 15px;
}

#brief-history-text{
  font-family: fantasy;
}

#long-history{
  color: black;
  background-size: cover;
  background-image: url("Assets/Steampunk_images/verticalPaper.jpeg");
  height: 300%;
  padding: 40px 15px 0px 15px;
}

#long-history-text{
  font-family: fantasy;
}

.hobbies-spacer{
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 150px;
  margin-bottom:150px;
}

.hobbies{
  padding-top: 200px;
  padding-left: 60px;
  color:black;
  font-weight: bold;
  width: 100%;
  margin-top: 250px;
  padding-bottom: 200px;
  background-size: cover;
  background-image: url("Assets/Steampunk_images/shutterstock_131942996.jpeg");
}

#hobbies{
  color: black;
  font-weight: bold;
}

#hobbies-bullet{
  color: black;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 10px;
}

.photos{
  color: white;
  background-size: cover;
  background-image: url("Assets/Steampunk_images/shutterstock_1637325505.jpeg");
  height: 500px;
  margin-bottom: 200px;
  padding-bottom: 300px;;
}

#photos{
  color: white;
}

.spacer{
  margin-top: 150px;
}

.projects{
  color: white;
  background-size: cover;
  /* background-image: url("Assets/Steampunk_images/shutterstock_452363785.jpeg"); */
  height: 200%;
}

.my-projects{
  color: white;
  text-align: center;
}

#projects-row{
  padding-top: 40px;
  height: 150%;
  background-size: cover;
  align-content:space-around;
  justify-content: center;
  /* background-image: url("Assets/Steampunk_images/AdobeStock_6645031.jpeg"); */
}

/* Thumbnails */
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

.img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  margin-bottom: 300px;
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.resume{
  background-color: white;
  height: 100%;
  /* height: auto; */
  width: 100%;
  margin-top: 500px;
}

.contact-wrapper{
  background-color: white;
  padding-left: 20px;
}

#contact{
  color: black;
  background-color: white;
}

.contact{
  color: black;
  background-color: white;
  background-size: cover;
  background-image: url("Assets/Steampunk_images/shutterstock_1196700412.jpeg");
  height: 100%;
}

.footer-wrapper {
  text-align: center;
  background-color: black;
}

#footer-msg {
  background-color: black;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-family: 'VT323';
  color: chartreuse;
  font-size: 1.5vw;
  text-align: center;
  align-items: center;
}
